header{
    background-color: rgb(195, 0, 255);
    text-align: center;
}

.titulo_pagina{
    color:rgb(255, 255, 255);
    font-size: 25px;

}
footer{
    background-color: rgb(253, 255, 143);
    width: 100%;
    height: 40px;
    margin: 20 px;
    color: rgb(0, 0, 0);
    margin: 20 px;
    padding: 10px 20px;
}
.rodapé{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.endereço{
    
   
}

